{% extends "index.twig" %}

{% 
set errorMessages = {
	30: 'Nu a fost specificat ID-ul problemei!',
	31: 'Nu există problema cu ID-ul specificat!',
} 
%}

{% block title %}Eroare{% endblock %}
{% block content %}
	<div class="row">
		<div class="container">
			<h2 class="light-blue-text text-darken-3">Ups!</h2>
			<div class="card horizontal red darken-3">
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Eroare de sistem!</span>
						<p><strong>În timpul procesării acestei pagini, a intervenit o eroare de sistem!</strong></p>
						<br>
						{% if DebugMessage is defined %}
							<p><strong>Mesaj de depanare</strong>:</p>
							<p>{{ DebugMessage }}</p>
						{% elseif errorMessages[ErrorCode] is defined %}
							<p>{{ errorMessages[ErrorCode] }}</p>
						{% else %}
							<p>Eroarea produsă este necunoscută.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}