{% extends "index.twig" %}

{% 
set errorCodes = {
	70: 'Nu ați completat numele problemei!',
	71: 'Nu ați completat numele de sistem!',
	72: 'Nu ați completat autorul!',
	73: 'Numele problemei este prea lung!',
	74: 'Numele de sistem este prea lung!',
	75: 'Numele de sistem conține caractere invalide. Sunt permise doar caractere alfanumerice minuscule și caracterul _',
	76: 'Numele autorului este prea lung!',
	77: 'Eroare de transmitere a formularului!',
} 
%}
	
{% block title %}Problemă nouă{% endblock %}
{% block content %}
	<div class="row">
		<div class="container">
			<div class="col m12 l9">
				<h1 class="red-text">Problemă nouă</h1>
				<p>Pentru a crea o problemă, mai întâi de toate,
				trebuie să te gândești la un nume potrivit.
				Pentru a nu induce utilizatorii în eroare,
				acesta nu poate fi schimbat. După ce ai introdus
				câteva date despre problemă, vei fi redirecționat
				la pagina de editare.<p>
				
				{% if CreateStatus is defined %}
					{% if CreateStatus == "OK" %}
						<div class="card horizontal green darken-3">
							<div class="card-stacked">
								<div class="card-content white-text">
									<span class="card-title">Problemă creată!</span>
									<p>Problema a fost creată cu succes! Acum poți edita problema folosind link-ul de mai jos.</p>
								</div>
								<div class="card-action">
									<a href="?p=problem&id={{ ProblemID }}&action=edit">Editare problemă</a>
								</div>
							</div>
						</div>
					{% else %}
						<div class="card horizontal red darken-3">
							<div class="card-stacked">
								<div class="card-content white-text">
									<span class="card-title">Creare eșuată!</span>
									<p><strong>Nu am putut crea problema deoarece</strong>:</p>
									<ul>
										{% for Error in CreateErrorArray %}
											<li>{{ errorCodes[Error] }}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					{% endif %}
				{% endif %}
				
				{% if (not CreateStatus is defined) or ((CreateStatus is defined) and CreateStatus != "OK")  %}
					<div class="row">
						<div class="col s12 m6">
							<h5>Creează o problemă nouă</h5>
							<form action="?p=newproblem" method="POST">
								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons orange-text prefix">code</i>
										<input id="name" name="name" type="text" class="validate">
										<label for="name">Nume</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons deep-purple-text prefix">polymer</i>
										<input id="name_clean" name="name_clean" type="text" class="validate">
										<label for="name_clean">Nume de sistem</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons light-blue-text text-darken-4 prefix">perm_identity</i>
										<input id="author" name="author" type="text" class="validate">
										<label for="author">Autor</label>
									</div>
								</div>
								<button class="btn green waves-effect waves-light" type="submit" name="newProblemForm">Continuă
									<i class="material-icons right">send</i>
								</button>
							</form>
						</div>
						<div class="col m6 s12">
							<div class="card green darken-3">
								<div class="card-content white-text">
									<span class="card-title">Mici indicații</span>
									<p>
										Vă recomandăm (nu vă impunem!) să urmați cât mai multe dintre următoarele sfaturi:
										<ul>
											<li>Numele problemei poate conține orice tip de caractere alfanumerice.</li>
											<hr>
											<li>Numele de sistem al problemei va fi folosit pentru interpretarea
												fișierelor de intrare și ieșire. De preferat este ca acesta să nu
												conțină spații sau diacritice, altfel pot apărea erori.
											</li>
											<hr>
											<li>
												Autorul este creatorul original al problemei.
											</li>
										</ul>
									</p>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="col m12 l3">
				{% include "sidebar.twig" %}
			</div>
			
			<br>
			<br>
		</div>
	</div>
{% endblock %}