.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#loginModal {
	max-width: 500px;
}

#search-bar {
	display: none;
}

#search-bar .input-field {
	height: 64px;
}

.card-image .card-title {
	text-shadow: 0 0 16px black;
}

.material-icons {
	line-height: inherit;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.nav-wrapper .brand-logo {
	font-size: 0;
}

.nav-wrapper .brand-logo img {
    height: 55px;
	vertical-align: middle;
}

.card-title i {
	vertical-align: middle;
}

.nav-wrapper .col {
    padding: 0 1.25rem;
}

.collection .btn {
    width: 100%;
}